@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.container {
  box-shadow: 0px 1px 2px rgba(168, 168, 168, 0.742),
    0px 1px 5px rgba(168, 168, 168, 0.742),
    0px 2px 6px rgba(168, 168, 168, 0.742),
    0px 2px 10px rgba(168, 168, 168, 0.742),
    0px 5px 13px rgba(93, 93, 93, 0.538);
  display: grid;
  background: #ffffff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: #000000;
  letter-spacing: 1px;
}

.h1 {
  font-size: 1.2em;
  color: #4e4e4e;
  margin-top: -5px;
}

.h2 {
  color: #000000;
  margin-top: -5px;
}

.img {
  width: 290px;
  margin-top: 47px;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  box-shadow: 0px 1px 2px rgba(168, 168, 168, 0.742),
    0px 1px 5px rgba(168, 168, 168, 0.742),
    0px 2px 6px rgba(168, 168, 168, 0.742),
    0px 2px 10px rgba(168, 168, 168, 0.742),
    0px 5px 13px rgba(93, 93, 93, 0.538);
  background-color: #ffffff;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  cursor: pointer;
}

.moreInf {
  width: 67%;
}

.images button {
  display: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.images:hover button {
  display: block;
}

.images {
  width: 290px;
}

.images button:first-child {
  position: absolute;
  bottom: 50%;
}
.images button:last-child {
  position: absolute;
  bottom: 50%;
  left: 44%;
}

.cntGroup {
  font-size: 8px;
  margin: 20px;
  margin-left: 0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addCnt {
  width: 60px;
}



